.friendsList {
    font-size: 25px;
    margin: auto;
    width: 500px;
}

.friend {
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #5190d4;
    border-radius: 10px;
}

.friend img {
    border-radius: 50%;
}

.avatar {
    display: inline-block;
}

.info {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

.online {
    color: #008000;
}

.offline {
    color: #5c615c;
}

.content > button {
    background-color: #5190d4;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20px auto;
    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.content > button {
    background-color: white;
    color: black;
    border: 2px solid #5190d4;
}

.content > button:hover {
    background-color: #5190d4;
    color: white;
}