.friendsList {
    font-size: 25px;
    margin: auto;
    width: 500px;
}

.friend {
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #5190d4;
    border-radius: 10px;
}

.friend img {
    border-radius: 50%;
}

.avatar {
    display: inline-block;
}

.info {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

.online {
    color: #008000;
}

.offline {
    color: #5c615c;
}