.header {
    color: #ffffff;
    overflow: hidden;
    background-color: #4a76a8;
    text-align: left;
    padding: 5px;
    height: 60px;
}

img {
    border-radius: 50%;
}

.header-right {
    float: right;
}

button {
    font-size: 25px;
    background: none!important;
    border: none;
    padding: 0!important;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}